@import url('https://use.typekit.net/hqi4qbe.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'objektiv-mk1', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#page-header path,
#page-header text {
  filter: drop-shadow(1px 4px 8px rgba(180, 10, 99, 0.15));
}

.pretix-widget {
  border: 0 !important;
  padding: 0 !important;
}

.pretix-widget .pretix-widget-item-price-col,
.pretix-widget .pretix-widget-item-availability-col,
.pretix-widget .pretix-widget-item-info-col {
  text-align: left !important;
  padding: 0 !important;
}

.pretix-widget .pretix-widget-item-title {
  font-weight: 600 !important;
  font-size: 25px !important;
}

.pretix-widget h3 {
  font-size: 0 !important;
}

.pretix-widget input,
.pretix-widget input[type='text'],
.pretix-widget input[type='number'] {
  width: 70px !important;
  height: 40px !important;
  color: #d350d3 !important;
  border: 2px solid #d350d3 !important;
  border-radius: 0 !important;
}

.pretix-widget .pretix-widget-pricebox {
  width: 139px !important;
}

.pretix-widget .pretix-widget-pricebox > div {
  width: 139px !important;
  text-align: left !important;
}

.pretix-widget .pretix-widget-pricebox > div > input {
  width: 85px !important;
}

.pretix-widget .pretix-widget-item-row {
  display: grid !important;
  grid-template-columns: 1fr 165px 70px !important;
  width: 100% !important;
}

@media screen and (max-width: 550px) {
  .pretix-widget .pretix-widget-item-row {
    grid-template-columns: 1fr !important;
    display: block !important;
  }

  .pretix-widget .pretix-widget-item-price-col,
  .pretix-widget .pretix-widget-item-availability-col {
    display: inline-block !important;
  }
}

@media screen and (max-width: 550px) and (min-width: 300px) {
  .pretix-widget .pretix-widget-item-row .pretix-widget-item-availability-col {
    width: calc(100% - 150px) !important;
    text-align: right !important;
    display: grid !important;
    justify-content: flex-end !important;
  }
}

.pretix-widget.pretix-widget-mobile .pretix-widget-item-price-col,
.pretix-widget.pretix-widget-mobile .pretix-widget-item-availability-col {
  width: 100% !important;
}

.pretix-widget.pretix-widget-mobile .pretix-widget-item-price-col,
.pretix-widget.pretix-widget-mobile .pretix-widget-item-availability-col {
  width: 130px !important;
}

.pretix-widget-attribution {
  display: none;
}

.pretix-widget-category-items {
  display: flex;
  flex-direction: column-reverse;
}

.pretix-widget-frame-holder .pretix-widget-frame-close a {
  display: grid !important;
  justify-content: center;
}
